body{
    background-color:#e0e0e0ee;
    display:flex;
    align-items: center ;
    justify-content: center;
    min-height:100vh;
   
}
.container{
    background-color:#fff;
    border-radius:20px;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
    width:310px;
    max-width:80%;
    
    
    
}
img{
    width:250px;
    margin:20px 30px;
    border-radius: 10px;
  
 
}
.QR-code{
    text-align:center;
   
}
.attribution{
    margin: 0 15px;
    text-align:center;
 }
    
